@mixin white-bg {
  background-color: white;
  border-bottom: solid 1px #efefee;
  -webkit-box-shadow: 0 4px 8px -8px black;
  -moz-box-shadow: 0 4px 8px -8px black;
  box-shadow: 0 4px 8px -8px black;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 1.5rem 10px 1.5rem;
  align-items: center;
  z-index: 9;
  position: fixed;
  top: calc(1 * (0.4rem + 30px));
  width: 100%;
  transition: all 0.1s ease-in;

  .logo {
    &:hover {
      opacity: 0.7;
    }
  }

  &.scrolled {
    @include white-bg;
    padding: 5px 25px 5px 25px;
    top: 0;
  }

  &:hover {
    @include white-bg;
  }

  .link-container {
    width: 33vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-weight: 600;

      &:hover {
        opacity: 0.7;
      }
    }

    &.left {
      padding-right: 3rem;
    }

    &.right {
      padding-left: 3rem;
    }
  }
}
