.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 1.5rem 10px 1.5rem;
  border-bottom: 1px solid black;

  .link-container {
    width: 33vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.left {
      padding-right: 3rem;
    }

    &.right {
      padding-left: 3rem;
    }
  }
}
